<% unless pick.project_url? %>
  <div class="col-md-3 col-sm-6 hero-feature">
    <div class="pick">
      <a href="<%= pick.url %>">
        <img src="<%= pick.image_url %>" alt="">
        </a>
        <div class="caption">
          <div class="title">
            <br>
            <a href="/picks/<%= pick.id %>"><%= truncate(pick.title, :length => 60 ) %></a>
            </div>
            <br>
            <div class="user-comment">
              <div class="profile">
                <img src="<%= current_user.icon_image %>" alt="ユーザー画像">
                <div class="details">
                  <div class="nickname" style="overflow: initial;"><%= current_user.nickname %>
                  </div>
                  <div class="job" style="overflow: initial;"><%= current_user.job %>
                  </div>
                </div>
              </div>
              <div class="comment" style="overflow: initial;">
                サンプル
              </div>
            </div>
        </div>
    </div>
  </div>
<% end %>