 <% @user ||= current_user %>
<div class="stats">
  <div class="follow-design">
    <a href="<%= following_user_path(@user) %>" style="color: gray; text-decoration: none">
      <strong id="following" class="stat" style="color: black">
        <%= @user.followings.count %>
      </strong>
      フォロー
    </a>
    <a href="<%= followers_user_path(@user) %>" style="color: gray; text-decoration: none">
      <strong id="followers" class="stat" style="color: black">
        <%= @user.followers.count %>
      </strong>
      フォロワー
    </a>
  </div>
  <div class="favorite-artists">
    <div col-sm-6 col-md-3 col-lg-3>
      <!-- あとでArtistテーブルからリンク付け -->
      <!-- **要編集** -->
      <!-- ************** -->
      <% @favorite_artists.each do |artist| %>
        <!-- <a href="<%= artist.artist_url %>"> -->
        <a href="<%= artist_path(artist) %>">
          <div class="favorite-artists-name"><%= artist.artist_name %></div>
        </a>
      <% end %>
    </div>
  </div>
</div>