<table>
  <tr class="best">
    <th>
      <h3 style="padding-left: 20px; width: 50px;">1</h3>
    </th>  
    <th style="padding-left: 10px;">
      <%= image_tag 'artist_1.jpeg',:size =>'75x75' %>
    </th>
    <th style="text-align: center;">
      <h3>SKY-HI</h3>
    </th>
  <tr class="best">
    <th>
      <h3 style="padding-left: 20px;">2</h3>
    </th>
    <th>
      <%= image_tag 'artist_2.jpg',:size =>'100x75'%>
    </th>
    <th style="text-align: center;">
      <h3>SALU</h3>
    </th>
  </tr>
  <tr class="best">
    <th>
      <h3 style="padding-left: 20px;">3</h3>
    </th>
    <th>
      <%= image_tag 'artist_3.jpg',:size =>'100x75' %>
    </th>
    <th style="text-align: center;">
      <h3>AKLO</h3>
    </th>
  </tr>
  <tr>
    <th>
      <h3 style="padding-left: 20px;">4</h3>
    </th>
    <th style="padding-left: 25px;">
      <%= image_tag 'artist_4.jpg', :size =>'50x50' %>
    </th>
    <th style="text-align: center;">
      <h3>RAUDEF</h3>
    </th>
  </tr>
  <tr>
    <th>
      <h3 style="padding-left: 20px;">5</h3>
    </th>
    <th style="padding-left: 10px;">
      <%= image_tag 'artist_5.jpg',:size =>'75x50'%>
    </th>
    <th style="text-align: center;">
      <h3>KICK THE CAN CREW</h3>
    </th>
  </tr>
  <tr>
    <th>
      <h3 style="padding-left: 20px;">6</h3>
    </th>
    <th style="padding-left: 10px;">
      <%= image_tag 'artist_6.jpg',:size =>'75x50'%>
    </th>
    <th style="text-align: center;">
      <h3>BAD HOP</h3>
    </th>
  </tr>
  <tr>
    <th>
      <h3 style="padding-left: 20px;">7</h3>
    </th>
    <th style="padding-left: 10px;">
      <%= image_tag 'artist_7.jpg',:size =>'75x50'%>
    </th>
    <th style="text-align: center;">
      <h3>AmPm</h3>
    </th>
  </tr>
  <tr>
    <th>
      <h3 style="padding-left: 20px;">8</h3>
    </th>
    <th style="padding-left: 25px;">
      <%= image_tag 'artist_8.jpeg', :size =>'50x50'%>
    </th>
    <th style="text-align: center;">
      <h3>KOHH</h3>
    </th>
  </tr>
  <tr>
    <th>
      <h3 style="padding-left: 20px;">9</h3>
    </th>
    <th style="padding-left: 25px;">
      <%= image_tag 'artist_9.jpg', :size =>'50x50'%>
    </th>
    <th style="text-align: center;">
      <h3>DABO</h3>
    </th>
  </tr>
  <tr>
    <th>
      <h3 style="padding-left: 20px;">10</h3>
    </th>
    <th style="padding-left: 10px;">
      <%= image_tag 'artist_10.jpg',:size =>'75x50'%>
    </th>
    <th style="text-align: center;">
      <h3>ONE OK ROCK</h3>
    </th>
  </tr>
</table>