<table>
  <tr class="best">
    <th>
      <h3 style="padding-left: 20px; width: 50px;">1</h3>
    </th>  
    <th>
      <%= image_tag 'image_1.jpg', :size =>'75x75' %>
    </th>
    <th style="text-align: center;">
      <h3>Walking on Water</h3>
      SKY-HI
    </th>
  <tr class="best">
    <th>
      <h3 style="padding-left: 20px;">2</h3>
    </th>
    <th>
      <%= image_tag 'image_2.jpeg', :size =>'75x75' %>
    </th>
    <th style="text-align: center;">
      <h3>カミツレベルベット</h3>
      SKY-HI
    </th>
  </tr>
  <tr class="best">
    <th>
      <h3 style="padding-left: 20px;">3</h3>
    </th>
    <th>
      <%= image_tag 'image_3.jpeg', :size =>'75x75' %>
    </th>
    <th style="text-align: center;">
      <h3>Walk this way</h3>
      SALU
    </th>
  </tr>
  <tr>
    <th>
      <h3 style="padding-left: 20px;">4</h3>
    </th>
    <th style="padding-left: 10px;">
      <%= image_tag 'image_4.jpeg', :size =>'50x50' %>
    </th>
    <th style="text-align: center;">
      <h3>Waka zo</h3>
    </th>
  </tr>
  <tr>
    <th>
      <h3 style="padding-left: 20px;">5</h3>
    </th>
    <th style="padding-left: 10px;">
      <%= image_tag 'image_5.jpeg', :size =>'50x50' %>
    </th>
    <th style="text-align: center;">
      <h3>千%</h3>
    </th>
  </tr>
  <tr>
    <th>
      <h3 style="padding-left: 20px;">6</h3>
    </th>
    <th style="padding-left: 10px;">
      <%= image_tag 'image_6.jpeg', :size =>'50x50' %>
    </th>
    <th style="text-align: center;">
      <h3>Mobb life</h3>
    </th>
  </tr>
  <tr>
    <th>
      <h3 style="padding-left: 20px;">7</h3>
    </th>
    <th style="padding-left: 10px;">
      <%= image_tag 'image_7.jpeg', :size =>'50x50' %>
    </th>
    <th style="text-align: center;">
      <h3>Super Saiyan</h3>
    </th>
  </tr>
  <tr>
    <th>
      <h3 style="padding-left: 20px;">8</h3>
    </th>
    <th style="padding-left: 10px;">
      <%= image_tag 'image_8.jpeg', :size =>'50x50' %>
    </th>
    <th style="text-align: center;">
      <h3>Best part of us</h3>
    </th>
  </tr>
  <tr>
    <th>
      <h3 style="padding-left: 20px;">9</h3>
    </th>
    <th style="padding-left: 10px;">
      <%= image_tag 'image_9.jpg', :size =>'50x50' %>
    </th>
    <th style="text-align: center;">
      <h3>Cho Wevy de Gomenne</h3>
    </th>
  </tr>
  <tr>
    <th>
      <h3 style="padding-left: 20px;">10</h3>
    </th>
    <th style="padding-left: 10px;">
      <%= image_tag 'image_10.jpg', :size =>'50x50' %>
    </th>
    <th style="text-align: center;">
      <h3>Your lane</h3>
    </th>
  </tr>
</table>