<!-- Page Content -->
<div class="container">
  <div class="main-body">

    <ul class="nav nav-tabs" role="tablist">
      <li class="active" role="presentation">
        <a aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab"><h3>Latest Articles</h3></a>
      </li>
      <li role="presentation">
        <a aria-controls="tab_b" data-toggle="tab" href="#tab_b" role="tab"><h3>Latest Propjects</h3></a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_a" role="tabpanel">
        <div class="row">
          <div class="row text-center">
            <% @articles.each do |pick| %>
              <%= render partial: "pick", locals: {pick:pick} %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab_b" role="tabpanel">
        <div class="row">
          <div class="row text-center">
            <% @picks.each do |pick| %>
              <%= render partial: "project", locals: {pick:pick} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>



    <ul class="nav nav-tabs" role="tablist">
      <li class="active" role="presentation">
        <a aria-controls="tab_c" data-toggle="tab" href="#tab_c" role="tab"><h3>Top Songs</h3></a>
      </li>
      <li role="presentation">
        <a aria-controls="tab_d" data-toggle="tab" href="#tab_d" role="tab"><h3>Top Artists</h3></a>
      </li>
      <li role="presentation">
        <a aria-controls="tab_e" data-toggle="tab" href="#tab_e" role="tab"><h3>Top Lyrics</h3></a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_c" role="tabpanel">
        <%= render partial: "song" %>
      </div>
      <div class="tab-pane" id="tab_d" role="tabpanel">
        <p>
        <%= render partial: "artist" %>
        </p>
      </div>
      <div class="tab-pane" id="tab_e" role="tabpanel">
        <p>
        <%= render partial: "lyric" %>
        </p>
      </div>
    </div>


</div>