<div class="contents row">
  <div class="main-body">
    <div class="container">
      <%= form_for(@pick) do |f| %>
        <div class="col-md-5 col-md-offset-3">
          <h3>投稿する</h3>
        </div>
        <div class="col-md-5 col-md-offset-3">
          <%= f.label :pick, "Page URL" %>
          <%= f.text_field :url, class: "form-control" %>
        </div>

        <div class="col-md-5 col-md-offset-3">
          <%= f.label :pick, :tag_list %>
          <%= f.text_field :tag_list, value: @pick.tag_list.join(','), class: "form-control" %>
        </div>

        <div class="col-md-5 col-md-offset-3">
          <%= f.label :pick, "投稿者のコメント" %>
          <%= f.text_field :poster_comment, class: "form-control" %>
        </div>

        <div class="col-md-5 col-md-offset-3">
          <%= button_tag type: "submit", class: "btn btn-info" do %>
            投稿する
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
