<div class="container">
  <div class="main-body">
    <div class="show" style="border-radius: 5px;" >
      <% if @pick.video_url? %>
        <iframe width="560" height="315" style="border-radius: 5px;" src="https://www.youtube.com/embed/<%= @pick.video_url %>" frameborder="0" allowfullscreen></iframe>
   　　<% else %>
        <a href="<%= @pick.url %>">
          <div class="img-responsive" style="background-image: url(<%= @pick.image_url %>);"></div>
        </a>
      <% end %>
        <h3 style="text-align: center;" ><%= @pick.title %></h3>

      </div>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <%= render partial: "comment", locals: {comment:comment} %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
