<div class="contents row">
  <div class="main-body">
    <div class="col-md-5 col-md-offset-3">
      <div class="thumbnail" >

        <% if @pick.video_url? %>
        <iframe class="col-md-12" height="100%" src="https://www.youtube.com/embed/<%= @pick.video_url %>" frameborder="0" allowfullscreen></iframe>
        <% else %>
          <a href="<%= @pick.url %>">
            <div class="img-responsive" style="background-image: url(<%= @pick.image_url %>);"></div>
            <div class="caption-full">
              <h4><%= @pick.title %></h4>
            </div>
          </a>
        <% end %>
      </div>

      <div class="well">
        <% if current_user %>
          <div class="posting_form top_content">
            <header class="profile">
              <img src="<%= current_user.icon_image %>" alt="ユーザー画像">
              <div class="posting_user_info user_info">
              <div class="nickname" style="overflow: initial;"><strong><%= current_user.nickname %></strong></div>
              </div>
            </header>
              <%= form_tag("/picks/#{@pick.id}/comments", method: :post) do %>
                <textarea cols="30" name="comment" placeholder="コメントする" rows="2"></textarea>
                <input type="submit" value="SEND">
              <% end %>
          </div>

          <div>
            <h5><投稿者のコメント></h5>
            <span class="question_text"><%= @pick.poster_comment %></span>
          </div>

          <h4><コメント一覧></h4>
          <% if @comments %>
            <% @comments.each do |comment| %>
              <%= render partial: "comment", locals: {comment:comment} %>
            <% end %>
          <% end %>

        <% end %>
      </div>


    </div>
  </div>
</div>
