<div class="container">
  <div class="main-body">
    <div class="show" style="border-radius: 5px;" >
      <% if @pick.video_url? %>
        <iframe width="560" height="315" style="border-radius: 5px;" src="https://www.youtube.com/embed/<%= @pick.video_url %>" frameborder="0" allowfullscreen></iframe>
   　　<% else %>
        <a href="<%= @pick.url %>">
          <div class="img-responsive" style="background-image: url(<%= @pick.image_url %>);"></div>
        </a>
      <% end %>
        <h3 style="text-align: center;" ><%= @pick.title %></h3>

      <% if current_user %>
        <div class="posting_form">
          <header class="profile">
            <img src="<%= current_user.icon_image %>" alt="ユーザー画像">
          </header>
          <%= form_tag("/picks/#{@pick.id}/comments", method: :post) do %>
            <textarea name="comment" placeholder="コメントする"></textarea>
            <input type="submit" value="SEND" >
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="comment_list">
      <div class="row">
        <div class="col-lg-12">
          <h3>Comments</h3>
        </div>

      </div>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <%= render partial: "comment", locals: {comment:comment} %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
